@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  background-color: aliceblue;
  
}
h1,h2,h3,h4,h5,div,p {
  background-color: transparent;
}
li {
  background-color: transparent;
}
